<%- include('../partials/layout-start') %>
<div class="card" style="text-align:center;padding:3rem">
  <h1><%= code || 404 %></h1>
  <p style="margin:1rem 0"><%= message %></p>
  <a href="/" class="btn btn-primary">بازگشت به خانه</a>
</div>
<%- include('../partials/layout-end') %>
