<%- include('../partials/layout-start') %>
<div class="card" style="text-align:center;padding:3rem"><h1>در انتظار تأیید استادی</h1><p>درخواست شما توسط ادمین بررسی می‌شود.</p></div>
<%- include('../partials/layout-end') %>
